/* GENERAL */

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px 0;
    z-index: 1;
    background-color: white;
}

/* TYPOGRAPHY */

h1 {
    font-family: sans-serif;
    font-size: 2em;
    font-weight: 500;
    color: rgb(38, 39, 64);
}

h2 {
    font-family: sans-serif;
    font-size: 1.6em;
    font-weight: 500;
    color: rgb(38, 39, 64);
    margin-top: 40px;
    margin-bottom: 20px;
}

p {
    font-family: sans-serif;
    font-weight: 400;
    color: rgb(51, 51, 63);
}

a {
    font-family: sans-serif;
    font-weight: 400;
    color: rgb(51, 51, 63);
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    background-color: #232f3e;
    padding: 0px 40px;
    margin-bottom: 60px;
    top: 0;
    position: fixed;
    width: 96%;
}

.title-box {
    display: inline-block;
    vertical-align: middle;
    width: 50%;
    z-index: 2;
}

.title-box h1 {
    display: block;
    font-weight: 300;
    color: white;
}

.logo-box {
    display: block;
    position: absolute;
    padding: 0 30px 15px 30px;
    top: 15px;
    left: 50%;
    transform: translate(-50%);
    background-color: #232f3e;
    border-radius: 200px;
    z-index: 1;
}

.logo {
    display: block;
    width: 150px;
    margin: auto;
    z-index: 2;
}

.nav-box {
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

header nav {
    text-align: right;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header nav a {
    color: white;
    padding: 29px 20px;
    font-size: 1.2em;
    font-weight: 600;
    text-decoration: none;
    transition: background-color 0.4s;
}

header nav a:hover {
    background-color: rgb(255, 255, 255);
    color: #232f3e;
}

/* CONTENT */

.img-section {
    background: url('server-room-aws.jpg') no-repeat center fixed;     
    background-attachment: scroll;
    background-size: cover;
    height: 100vh;
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-text-box {
    width: 540px;
    height: 400px;
    margin: 0 auto;
    padding-top: 200px;
}

.img-h2 {
    color: rgb(193 193 193);
    text-shadow: -3px -1px 4px rgb(0 0 0);
}

.img-p {
    color: rgb(157 157 157);
    text-shadow: 0px 0px 10px rgb(0 0 0);
}

.first-section {
    margin-top: 60px;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    background-color: #232f3e;
}

footer h1 {
    height: 80px;
    font-size: 1.2em;
    color: white;
    margin: 0;
    text-align: center;
}

